<div class="container">
  <%= render @sheet %>
  <p class="fst-italic text-end"><%= @sheet.created_at.strftime('%Y/%m/%d') %> : <%= @sheet.user.name %></p>

  <% @comments.each do |comment| %>
    <div class="card border-success mb-3">
      <div class="card-header"><%= comment.user.name %></div>
      <div class="card-body">
        <p class="card-text"><%= simple_format(comment.body) %></p>
        <% if comment.youtube? && comment.identifier.present? %>
          <div class="ratio ratio-16x9" style="max-width: 560px;">
            <iframe src='https://www.youtube.com/embed/<%= "#{comment.split_id_from_youtube_url}" %>' allowfullscreen></iframe>
          </div>
        <% end %>
        <p class="card-text"><%= comment.created_at.strftime('%Y/%m/%d') %></p>

        <% if logged_in? && current_user.own?(comment) %>
          <div class="d-flex">
            <div>
              <%= button_to '', edit_comment_path(comment), method: :get, class: "btn btn btn-outline-primary btn-sm bi bi-pencil" %>
            </div>
            <div>
              <% msg = t('defaults.message.delete_confirm') %>
              <%= button_to '', comment_path(comment), method: :delete, class: "btn btn btn-outline-primary btn-sm bi bi-trash", form: { onSubmit: "return check('#{msg}')" } %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

  <% if logged_in? %>
    <%= render 'comments/form', { sheet: @sheet, comment: @comment } %>
  <% end %>

  <% if logged_in? && current_user.own?(@sheet) %>
    <%= form_with model: @sheet, local: true do |f| %>
      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: 'form-control' %>
      </div>
      <%= f.submit class: 'btn btn-outline-primary' %>
    <% end %>
    <% msg = t('defaults.message.delete_confirm') %>
    <%= button_to t('defaults.delete'), sheet_path(@sheet), method: :delete, class: "btn btn-outline-danger btn-sm", form: { onSubmit: "return check('#{msg}')" } %>
  <% end %>
</div>

<script>
  function check(msg){
    if(window.confirm(msg)){
      return true;
    }
    else{
      return false;
    }
  }
</script>
