<header>
  <nav class='navbar navbar-expand-lg navigation navbar-light bg-light'>
    <%= link_to root_path, class: 'navbar-brand' do %>
      <%= image_tag 'logo.png' %>
    <% end %>

    <%= form_with(url: new_sheet_path, method: :get) do |form| %>
      <div class="row">
        <div class="col-sm-9">
          <%= form.select :level, options_for_select(@level, selected: Sheet::DEFAULT_LEVEL), {}, { class: 'form-control' } %>
        </div>
        <div class="col-sm-3">
          <%= form.submit '曲を作成する', class: 'btn btn-primary' %>
        </div>
      </div>
    <% end %>
  </nav>
</header>
